<!--Change dates modal template-->
<div aria-labelledby="myModalLabel" class="modal fade" id="MyRosterModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">My Roster (Your upcoming schedule) </h4>
            </div>

            <div id="myroster-div" class="modal-body table-responsive" style="width:100%; overflow-y: 700px">

            </div>

            <div class="modal-footer">
                <button class="btn btn-default btn-simple" data-dismiss="modal" type="button">Close</button>
            </div>

        </div>
    </div>
</div>