<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
<meta content="width=device-width" name="viewport">
<title>EMEA Roster</title>

<!--Page Icon-->
{% load static %}
<link href='{% static "Core/img/favicon.ico" %}' rel="shortcut icon" type="image/png">
<link href='{% static "Core/img/favicon.ico" %}' rel="apple-touch-icon" sizes="76x76">

<!--UI CSS-->
<link href='{% static "Core/css/bootstrap.min.css" %}' rel="stylesheet"/>

<!--Custom CSS-->
<link href='{% static "Core/css/core.css" %}' rel="stylesheet"/>

<!--Fonts and icons-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet'
      type='text/css'>

<!--Datatables-->
<link href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css" rel="stylesheet"
      type="text/css">