
.brand-logo-alignment {
    width: 58px;
    height: 42px;
    top: -10px;
    position: relative;
}

.icon-placement {
    padding-right: 8px
}

.img-logo-placement {
    width: 40px;
    margin-top: 5px;
    margin-right: 8px;
}